body,html{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 3em;
}
h1{
	margin:0;
	padding: .25em 0;
	background-color:#f5f5f5;
	font-size: 5em;
	font-weight: 300;
	box-shadow: 0 0 5px #aaa;
}
h2{
	font-size:4em;
	font-weight: 300;
	margin: 0;
}
h3{
	font-size:2em;
	font-weight: 300;
	margin: 0;
}
h4{
	font-size: 1em;
	font-weight: 300;
	margin: 0;	
	color: #777;
	margin-bottom: 1em;
}
h1 a{
	color:#000;
}
a{
	color:#08f;
	text-decoration: none
}
.dev-note{
	font-size: 130%;
	background-color: #263242;
	color: #fff;
	padding: 1em;
	border-radius: .5em;
	-webkit-font-smoothing: antialiased;
}
.lead{
	font-size:150%;
}
code{
	display: block;
	padding: 0.5em;
	font-size: 134%;
	border-left: 2px solid #08f;
	margin: 1em;
}
code span{
	border-bottom:1px dotted #08f;
}
#instructions{
}
#instructions.inactive{
	display:none;
}
#results.inactive{
	color:#aaa;
}
#results{
	/*background-color: #E5EEF5;*/
	padding: 10px;
	border-radius: 10px;
	/* border-left: 3px solid #f08; */
	margin-top: 3em;
}
#results ul{
	/* background-color:#08f; */
	color: #7E7C7C;
	/* width: 50%; */
	margin: 0;
	list-style: none;
	padding: 0;
	font-size: 1.25em;
	margin-left: 1em;
	margin-bottom:1em;
}
#results strong{
	font-size: 1.5em;
	color: #000;
}
#results .used{
	color:green;
	background-color: #D2EBBE;
}
